@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

::-moz-selection {
  background: #00b39b;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #00b39b;
  color: #fff;
  text-shadow: none;
}

#logo {
  width: 268px;
  height: 68px;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
}
.menu {
  display: flex;
  list-style: none;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  font-family: Roboto, Arial, sans-serif;
  color: #ababab;
  cursor: pointer;
}
.menu-item {
  margin-right: 20px;
}
.drop-menu {
  display: none;
  width: 200px;
  margin-left: -40px;
  background-color: white;
}
.menu-item:hover .drop-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: #ababab;
}
.drop-menu-item {
  list-style: none;
}
.menu-item:hover {
  color: rgb(0, 179, 155);
}
.drop-menu-item:hover {
  color: rgb(0, 179, 155);
}
.first-section {
  text-align: center;
  padding-top: 100px;
}
.first-section h1 {
  font: 400 34.5px "Work Sans", Arial, sans-serif;
  color: rgb(0, 179, 155);
}
.second-section {
  display: flex;
  margin: 0px 200px;
  justify-content: space-between;
}
.second-section p {
  width: 48%;
  font: 400 16px Roboto, Arial, sans-serif;
  line-height: 28px;
  color: rgb(116, 116, 116);
  text-align: justify;
}
.third-section {
  display: flex;
  justify-content: space-around;
  margin: 0px 180px;

  color: white;
  line-height: 20px;
}
.patients {
  background-color: #1ad1b9;
  font: 100 20px "Work Sans", Arial, sans-serif;
}
.doctors {
  background-color: #5190e2;
  font: 100 20px "Work Sans", Arial, sans-serif;
}
.clinics {
  background-color: #323d49;
  font: 100 20px "Work Sans", Arial, sans-serif;
}
.third-section div {
  width: 312px;
  height: 290px;
  margin: 20px 10px;
  border-radius: 15px;
  padding: 30px;
  transition: all 0.35s ease 0s;
}
.third-section select {
  background: transparent;
  border: none;
  font: 100 20px "Work Sans", Arial, sans-serif;
  margin-top: 15px;
  color: white;
  text-decoration: underline;
}
.third-section option {
  color: black;
}
.fourth-section {
  display: flex;
  justify-content: space-between;
  margin: 0px 200px;
}
.fourth-section h1 {
  font: 300 26px "Work Sans", Arial, sans-serif;
  width: 400px;
  margin-right: 100px;
  color: rgb(0, 179, 155);
}
.logos i {
  color: rgb(116, 116, 116);
}
.logos i:hover {
  color: rgb(0, 179, 155);
}
.fifth-section {
  margin-top: 40px;
  height: 600px;
  width: 1510px;
  background-color: #d5f6f6;
  background-image: url("https://www.docplanner.com/img/logo.png");
  background-repeat: no-repeat;
  background-position-x: 50px;
  background-position-y: 230px;
  position: relative;
  z-index: -1;
}
.fifth-section h1 {
  font: 300 32px "Work Sans", Arial, sans-serif;
  color: rgb(0, 179, 155);
  position: absolute;
  top: 30px;
  left: 200px;
  width: 400px;
}
.fifth-section p {
  font: 400 15px Roboto, Arial, sans-serif;
  color: rgb(116, 116, 116);
  position: absolute;
  top: 150px;
  left: 200px;
  width: 450px;
}
.table {
  position: absolute;
  right: 120px;
  display: flex;
  color: rgb(0, 179, 155);
  font: 100 16px "Work Sans", Arial, sans-serif;
  margin-top: 40px;
}
.column-one {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin-top: 30px;
  margin-right: 20px;
}
.column-two {
  display: flex;
  flex-direction: column;
  width: 220px;
}
.column-one div {
  background-color: white;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
  width: 200px;
  height: 220px;
  padding: 15px;
  margin-right: 20px;
}
.column-two div {
  background-color: white;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
  width: 200px;
  height: 220px;
  padding: 15px;
}
.column-two h6 {
  color: rgb(116, 116, 116);
}
.column-one h6 {
  color: rgb(116, 116, 116);
}
.sixth-section {
  text-align: center;
  padding-top: 60px;
}
.sixth-section h1 {
  text-align: center;
  font: 300 30px "Work Sans", Arial, sans-serif;
  color: rgb(0, 179, 155);
  line-height: 39px;
}
.sixth-section p {
  margin-left: auto;
  margin-right: auto;
  width: 460px;
  height: 72px;
  font: 400 14px Roboto, Arial, sans-serif;
  line-height: 24px;
  color: rgb(116, 116, 116);
  text-align: center;
  padding-bottom: 50px;
}
.seventh-section {
  margin: 0px 245px 0px 245px;
  display: flex;
}
.container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-content: center;
}
.container div {
  border-radius: 5px;
}
.box1:hover {
  background-color: rgba(169, 169, 169, 0.637);
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.box2:hover {
  background-color: rgba(169, 169, 169, 0.637);
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
.box3:hover {
  background-color: rgba(169, 169, 169, 0.637);
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
.box4:hover {
  background-color: rgba(169, 169, 169, 0.637);
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
.box5:hover {
  background-color: rgba(169, 169, 169, 0.637);
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
.box6:hover {
  background-color: rgba(169, 169, 169, 0.637);
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}
.box7:hover {
  background-color: rgba(169, 169, 169, 0.637);
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.boxtxt {
  font: Roboto, Arial, sans-serif;
  color: rgb(116, 116, 116);
  font-size: 18px;
  font-weight: 400px;
  line-height: 30px;
  padding: 20px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  position: static;
  outline: 0;
  border: 0;
  border-radius: 4px;
  background: #3d83df;
  font-family: Roboto, Arial, sans-serif;
  line-height: 1em;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.04em;
  font-size: 0.75rem;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  transition: all 0.2s ease 0s;
  margin-left: 80px;
  padding: 15px 20px 15px 20px;
}
.btn:hover {
  color: #fff;
  background: #1662c6;
}
.btn--small {
  font-size: 0.625rem;
  padding: 1em 1.5em;
}
.eighth-section {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 80px;
}
.eighth-section h1 {
  text-align: center;
  font: 300 30px "Work Sans", Arial, sans-serif;
  color: rgb(51, 51, 51);
  line-height: 39px;
}

.main-footer {
  border-top: 1px solid #eef2f2;
  text-align: center;
  padding: 1em 0;
}
.main-footer .nineth-section,
.main-footer p {
  font: 400 12px Roboto, Arial, sans-serif;
  color: rgb(116, 116, 116);
  position: static;
  top: 150px;
  left: 200px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 1100px;
}
.main-footer p {
  margin-bottom: 0.4em;
}

.main-footer a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: 0.3em;
  text-decoration: none;
}
